/* Global resets. Include more if needed */
* {
  margin: 0px 0px;
  padding: 0px 0px;
}

html {
  
}

body {
  font-family: 'Gill Sans', sans-serif;
  padding: 35px;
}

.navbar {  
  margin: -35px;
  width: 100% + 70px;  
  padding: 0.4em;
  margin-bottom: 20px;
} 

.navbar-nav li {
  font-size: 16px;
  padding: 0em 0.1em;
}

.section-margin {
  margin-bottom: 30px;
}

h1, h2, h3, a {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #505050;
}

h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 0px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

h3 {  
  font-size: 28px;
  font-weight: bold;
  color: #a1a1a1;
  text-align: center;
}

.rectangle {
  width: 90%;
  height: 500px;
  border: solid 1px var(--brown-grey);
  background-color: gray;  
  margin: 0% 5% 5% 5%;
}

.placeholder-box {
  width: 350px;
  height: 56px;
  border-radius: 10px;
  border: solid 2px #a1a1a1;
  object-fit: contain;
  font-size: 18px;
  padding-left: 10px;
}

.title-404 {
  font-size: 40px;
}

/* Login Page CSS needs to be redone with Bootstrap */
#signUp {  
  display: none;  
  position: fixed;  
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #555;  
}

.signup-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%;
  padding: 16px;
}

#signUp input[type=text], #signUp input[type=password] {
  width: 100%;
  padding: 15px 0;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

#signUp hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.close {
  position: absolute;   
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Fix with Bootstrap */

.qualifications {
  width: 150px;
  height: 56px;
  color: #000;
  border-radius: 10px;
  padding: 20px;
}

input[type=input]:focus {
  border: 2px solid #505050;
  border-radius: 10px;
}

/* This is not in use but useful..? */
.active {
  background-color: skyblue;
}
